<article class="article-card">
  <p>{{ article.data.author }}</p>
  <a href="{{ article.data.url }}" target="_blanc" rel="noopener">{{ article.data.title }}</a>
  <div>
  </div>
  <p>{{ article.data.date | dateFilter }}</p>
</article>
