.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header__circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--color-accent);
}

.header__nav-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 1;
}

.header__list {
  display: flex;
  gap: 1rem;
}

.header__list-item {
  margin-left: 1rem;
}

.header__item-link {
  text-decoration: none;
  color: #949393;
}

.header__item-link[aria-current="page"],
.header__item-link[data-state="active"] {
  color: inherit;
}
