/* overpass-regular - latin_cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/overpass/overpass-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/overpass/overpass-v10-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* overpass-700 - latin_cyrillic */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/overpass/overpass-v10-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/overpass/overpass-v10-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* istok-web-regular - latin */
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/istok-web/istok-web-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/istok-web/istok-web-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* istok-web-700 - latin */
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/istok-web/istok-web-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/istok-web/istok-web-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
