  {% set articlesItems = pagination.items %}

  <div class="articles">
    <h1 class="">{{ title }}</h1>

      <ul class="articles__grid-container">
        {% for article in articlesItems %}
          <li class="">
            {% include 'article-card.njk' %}
          </li>
        {% endfor %}
      </ul>

    {% block pagination %}
      {% include 'pagination.njk' %}
    {% endblock %}

  </div>


