<main>
<article class="intro">
  <div class="">
    <h1 class="">
      {{ title }}
    </h1>
    <p>TEST</p>
  </div>
  <div class="">
      <ul class="">
          {%- for article in articles -%}
              <li class="">
                    {{ article.title}}
              </li>
          {%- endfor -%}
      </ul>
  </div>
  <ul>
  </ul>

</article>
</main>
